---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/business/yelp-san-francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qZYTDm1gHae6_qCF49Marw", oauth_nonce="5f859397aa162c1b9c92880f43953c88",
        oauth_signature="j9aaG1BhxF57l%2BtAIoCbkpFB2LQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463950658", oauth_token="RCKqAfxzWDAPEikWn-zqJ29eso8PGhze",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web57-r7-sfo2
      X-Mode:
      - ro
      X-Proxied:
      - extlb8-r11-sfo2
    body:
      encoding: ASCII-8BIT
      string: '{"is_claimed": true, "rating": 2.5, "mobile_url": "http://m.yelp.com/biz/yelp-san-francisco?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=qZYTDm1gHae6_qCF49Marw",
        "rating_img_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png",
        "review_count": 8294, "name": "Yelp", "rating_img_url_small": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png",
        "url": "http://www.yelp.com/biz/yelp-san-francisco?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=qZYTDm1gHae6_qCF49Marw",
        "categories": [["Local Flavor", "localflavor"], ["Mass Media", "massmedia"]],
        "reviews": [{"rating": 5, "excerpt": "You have to love a company that allows
        public reviews on their own site. I don''t propose to know all the inside
        methods of how they do business, yet my...", "time_created": 1463553507, "rating_image_url":
        "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "rating_image_small_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "user": {"image_url": "http://s3-media1.fl.yelpcdn.com/photo/raFmj2lEh-uRA9K1SpE5iQ/ms.jpg",
        "id": "Fz986m_2qYV7LPmACOYTMw", "name": "Angelina G."}, "rating_image_large_url":
        "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "951hbJusDom_ccaMhAob1Q"}], "phone": "4159083801", "snippet_text": "You
        have to love a company that allows public reviews on their own site. I don''t
        propose to know all the inside methods of how they do business, yet my...",
        "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/nQK-6_vZMt5n88zsAS94ew/ms.jpg",
        "snippet_image_url": "http://s3-media1.fl.yelpcdn.com/photo/raFmj2lEh-uRA9K1SpE5iQ/ms.jpg",
        "display_phone": "+1-415-908-3801", "rating_img_url_large": "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/d63e3add9901/ico/stars/v1/stars_large_2_half.png",
        "id": "yelp-san-francisco", "is_closed": false, "location": {"cross_streets":
        "Natoma St \u0026 Minna St", "city": "San Francisco", "display_address": ["140
        New Montgomery St", "Financial District", "San Francisco, CA 94105"], "geo_accuracy":
        9.5, "neighborhoods": ["Financial District", "SoMa"], "postal_code": "94105",
        "country_code": "US", "address": ["140 New Montgomery St"], "coordinate":
        {"latitude": 37.7867703362929, "longitude": -122.399958372115}, "state_code":
        "CA"}}'
  recorded_at: Sun, 22 May 2016 20:57:38 GMT
recorded_with: VCR 3.0.1
