<div class="container">
  <% unless @pairings.empty? %>
  <h2>Pairings </h2>

<%= render partial: 'display' %>

  <% else %>
    <h2> Sorry, no pairings found for that ridiculous search term. </h2>
    <%= image_tag "huh.png" ,class: 'huh'%>
    <% end %>
</div>
